# Файлы настроек
*.json

# Служебные файлы
*.os

# Перезаписываемые во время тестов файлы
Бюджетирование/Макеты/03/ВА_ИмпортExcel+Шаблон.xlsx
Бюджетирование/Макеты/02/ВА_КонтекстныйПересчетИсходный.xlsx

