# Файлы настроек
*.json

# Служебные файлы
*.os

# Перезаписываемые во время тестов файлы
3_Бюджетирование/Макеты/03/ВА_ИмпортExcel+Шаблон.xlsx
3_Бюджетирование/Макеты/02/ВА_КонтекстныйПересчетИсходный.xlsx

